html {
    background-color: rgb(221, 226, 252);
    background-image: linear-gradient(to bottom, rgb(113, 134, 250), rgb(221, 226, 252));
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-attachment: fixed;
}

body {
    background-color: #fff;
    max-width: 85%;
    padding: 1em 0;
    margin: 0 auto 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 10px #999;
}

@media screen and (max-width: 540px) {
    body {
        max-width: 100%;
    }
    body > nav ul {
        text-align: center;
    }
}

body > header {
    margin-top: -1em;
    padding-left: 1em;
}

body > header h1 {
    text-align: center;
}

body > header p {
    text-align: center;
    padding: 0 2em;
}

body > nav ul {
    list-style-type: none;
    margin: 0 1em;
    padding: 0 15px;
    border-radius: .5em;
    background-color: #0f25a7;
    box-shadow: 0 0 5px #5581e8;
}

body > nav ul li {
    display: inline-block;
    padding: 1em .5em;
}

body > nav ul li:hover {
    background-color: #4268bf;
    box-shadow: inset 0 0 10px #5581e8;
}

body > nav ul li a {
    text-decoration: none;
    padding: .5em;
    color: #fff;
}

#content {
    margin: 0 2em 1em;
}

#content h1 {
    text-align: center;
}

#content pre {
    margin: 0 2em;
    padding: 1em 2em;
    color: #fff;
    background-color: #06134a;
    box-shadow: inset 0 0 20px #b6c0e8;
    position: relative;
}

#list {
    float: right;
    margin-right: 2em;
}

#list li {
    padding: .3em 0;
}

body > footer {
    width: 100%;
}

body > footer p::before {
    display: block;
    content: '\2766';
    font-size: 1.5em;
    margin: .5em 0;
    font-style: normal;
}

body > footer p {
    text-align: center;
    margin: .5em 0;
    color: #ccc;
    font-style: italic;
}

body > footer p a {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}